<!DOCTYPE html>
<html lang="en">
<head>

  <title>Delivery Man UI</title>
  <link rel="stylesheet" href="../css/navbar.css">
  <link rel="stylesheet" href="../css/delivery.css">

 
</head>
<body>
  <div class="from">
    <fron>
      <nav class="navbar">
        <div class="logo">DeliveryMan</div>
        <ul class="nav-links">
          <li><a href="../view/Oder Status.html">Order Status</a></li>
          <!-- ><li><a href="../view/Accept_Order.html">Accept Order</a></li>
          <li><a href="../view/Reject_Order.html">Reject Order</a></li>
          <li><a href="../view/Pick.html">Pick Status</a></li>
          <li><a href="../view/Delivery.html">Delivery Status</a></li>
          <li><a href="../view/Payment.html">Payment Status</a></li -->
          <li><a href="../view/profile.html">Profile</a></li>
          <!-- <li><a href="../view/Login.html">Logout</a></li> -->
          <br>
          
          </ul>
          </nav>
          <h1>DELIVERY MAN</h1>
          <h2>Order Status: Delivered</h2>
          <p>Order #1253</p>
          <p>2x Chicken Burger<br>1x French Fries</p>
          <p><small>21 Apr 2023, 15:30</small></p>
          <button>Delivered</button>
 </div>
</from>
</body>
</html>