<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="../css/Profile.css">

</head>
<body>
    <div class="from">
        <from>
            <nav class="navbar">
                <div class="logo">DeliveryMan</div>
                <ul class="nav-links">
                        <li><a href="../view/Oder_Status.php">Order Status</a></li>
                        <!-- <li><a href="../view/Accept_Order.html">Accept Order</a></li>
                        <li><a href="../view/Reject_Order.html">Reject Order</a></li>
                        <li><a href="../view/Pick.html">Pick Status</a></li>
                        <li><a href="../view/Delivery.html">Delivery Status</a></li>
                        <li><a href="../view/Payment.html">Payment Status</a></li> -->
                        <li><a href="../view/profile.html">Profile</a></li>
                        <!-- <li><a href="../view/Login.html">Logout</a></li> -->
                        <br>
                        </ul>
                    </nav>
                    <h1>DELIVERY MAN</h1>
                    <h1>Nipul</h1>
                    <br>
                    <ul>
                         <li>Profile Update</li>
                         <li><a linl href="../../Customer/View/login.php">Logout</a></li>
                    </ul>
        </from>
    </div>
    
</body>
</html>