*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0px;
    left: 0;
}
.nav{
    height: 80px;
    width: 100%;
    /* width: 1350px; */
    background-color: rgb(0, 0, 54);
     /* background: linear-gradient(90deg, #ff7e5f, #feb47b); */
     /* background: linear-gradient(90deg, #cd7cf39c, #8f25c07a); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* max-width: 1440px; */
    margin: 0px 0px 20px 0px;
}
.logo{
    font-weight: 800;
    font-size: xx-large;
    color: #BABABA;
}
.nav-img span{
    color: chocolate;
}
.nav-search-btn{
    position: relative;
}
.nav-search-btn input{
    background-color: #F1F1F1;
    border: none;
    border-radius: 66px;
    padding: 10px 30px;
    /* width: 508px; */
    width: 400px;
    font-size: 16px;
    font-weight: 600;
}
.nav-search-btn i{
    position: absolute;
    top: 17px;
    right: 20px;
    color: #BABABA;
}
.nav-items{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 15px;
}
.nav-items li a {
    text-decoration: none;
    /* color: #707070; */
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
.test-div{
    height: 800px;
    width: 1300px;
    background-color: bisque;
    margin-left: 100px;
}
/* bag style */
.shoes{
    margin: 70px 20px 50px 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.shoes-title{
    font-weight: 600;
    font-size: 36px;
    color: #1F1F1F;
}
.shoes-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.shoes-card
{
    width: 350px;
    height: 560p;
    background-color: #F4F4F4;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
}
.shoe-details{
    text-align: center;
}
.shoe-details h2{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    color: #1F1F1F;
}
.shoe-details p{
    font-size: 16px;
    margin-bottom: 10px;
    color: #4E4E4E;
}
.shoe-details .price{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #1F1F1F;
}
.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.shoe-details .buy-btn{
    height: 52px;
    width: 150px;
    margin-bottom: 10px;
    background-color: rgb(1, 1, 22);
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 10px;
}
.shoe-details .buy-btn:hover{
    background-color: #BABABA;
    color: black;
    cursor: pointer;
    border: none;
}
.shoe-details .add-btn{
    height: 52px;
    width: 150px;
    margin-bottom: 10px;
    background-color: rgb(1, 1, 22);
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 10px;
}
.shoe-details .add-btn:hover{
    background-color: #BABABA;
    color: black;
    cursor: pointer;
    border: none;
}
.shoe-details .cart-btn i{
    margin-left: 5px;
}
/* footer style */
.footer {
    background-color: rgb(1, 1, 22);
    width: 100%;
    margin: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .footer-content {
    color: #FFFFFF;
    text-align:center;
}

.footer-content-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 5px;
    color: #BABABA;
}
.footer-content-title span{
    color: chocolate;
}
.footer-content-title .h3-span{
    color: #FFFFFF;
}
.footer-content-details {
    font-size: 0.88rem;
    font-weight: bold;
    margin-bottom: 2px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 12px;
}

.footer-links a {
    text-decoration: none;
    color: #FFFFFF;
}

