*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.test-div{
    width: 500px;
    /* height: 100px; */
    background-color: aqua;
    border: 2px solid red;
    text-align: center;
}