body{
    /* text-align: center; */
}
form{
   padding: 20px;
   position: fixed;
   left: 40%;
   top: 50px;
   border-radius: 15px;
   /* background-color:rgba(255, 80, 220, 0.607); */
    background: linear-gradient(#bf5fff, #fe7bf58b);
    box-shadow: 2px 0px 5px rgba(133, 31, 148, 0.963);
}
form label{
    margin-bottom: 20px;
}
form input{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
}
