.chartcontainer{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    width: 420px;
    height: 160px;
}


div.Sidebar{
    background-color: rgb(215, 209, 226);
    width: 20vw;
    height: 100vh;
    float: left;
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    position: fixed;
}

.pagecontainer{
    margin-left: 20%;
    padding: 20px;
    background-color: rgb(255,255,255);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

a{
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    border-radius: 5px;
}

div.totalammount{
    background-color: whitesmoke;
    margin-right: 7px;
    padding: 20px;
    border-radius: 10px;
    width: 180px;
    height: 160px;
}

th, td{
   border: 1px solid black;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

tr:hover{
    background-color: rgb(215, 209, 226);
}

.Line{
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 10px 0;
    border-radius: 2px;
}


.tablecss{
    background-color: whitesmoke;
    width: 43%;
    height: 65vh;
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
}
